* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  background-color: #f5cfff;
}
h2 {
  text-align: center;
}
#container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
#container2 {
  text-align: center;
  margin: auto;
  width: 50%;
  margin-top: 150px;
}
a {
  font-size: 25px;
}
h2 {
  font-size: 25px;
}
#word {
  font-size: 50px;
  margin: 50px;
  letter-spacing: 40px;
  text-transform: uppercase;
}
input {
  height: 30px;
  width: 200px;
  margin: 20px;
  border-radius: 60px;
}
button {
  margin: 20px;
  height: 30px;
  background-color: #bb77cc;
}
p{
  padding: 12px;
}
